	@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
	@import url(https://fonts.googleapis.com/css?family=Raleway:300,500,800);

	body { background: #fff; font-family: 'Open Sans', sans-serif; font-size: 14px; }
	*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

	h1, h2, button { font-family: 'Raleway', serif; text-align: center; }
	h1 { margin-bottom: 1em; }
	h2 { text-align: left; }
	.my-team { margin-bottom: 2em; }

	.sort-buttons { width: 100%; display: flex; justify-content: center; padding: 20px 0; }
	.sort-buttons > .btn { outline: none; }

	.input-lg, .btn-lg { margin-top: 10px; }
	.input-lg { margin-left: auto; margin-right: auto; }
	.idea-description { padding-right: 150px; }

	/**
	 * Tooltip Styles
	 */

	/* Add this attribute to the element that needs a tooltip */
	[data-tooltip] {
	  position: relative;
	  z-index: 2;
	  cursor: pointer;
	}

	/* Hide the tooltip content by default */
	[data-tooltip]:before,
	[data-tooltip]:after {
	  visibility: hidden;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	  opacity: 0;
	  pointer-events: none;
	}

	/* Position tooltip above the element */
	[data-tooltip]:before {
	  position: absolute;
	  bottom: 150%;
	  left: 50%;
	  margin-bottom: 5px;
	  margin-left: -10px;
	  padding: 7px;
	  width: 200px;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  background-color: #000;
	  background-color: hsla(0, 0%, 20%, 0.9);
	  color: #fff;
	  content: attr(data-tooltip);
	  text-align: center;
	  font-size: 14px;
	  line-height: 1.2;
	}

	/* Triangle hack to make tooltip look like a speech bubble */
	[data-tooltip]:after {
	  position: absolute;
	  bottom: 150%;
	  left: 50%;
	  margin-left: -5px;
	  width: 0;
	  border-top: 5px solid #000;
	  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	  border-right: 5px solid transparent;
	  border-left: 5px solid transparent;
	  content: " ";
	  font-size: 0;
	  line-height: 0;
	}

	/* Show tooltip content on hover */
	[data-tooltip]:hover:before,
	[data-tooltip]:hover:after {
	  visibility: visible;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	  opacity: 1;
	}

	button { display: inline-block; padding: 5px 13px; position: relative; border-radius: 3px; cursor: pointer; outline: none; color: #fff; font-size: 15px; position: relative; -webkit-appearance: none; text-align: center; -webkit-appearance: none; appearance: none; background: #429BCE;  border: solid 0px #fff; }
	button.up,
	button.up { border-color: #fff; background: #429BCE; }
	button.up:hover { border-color: #fff; background: #70cf32 }
	button.down:hover { border-color: #fff; background: #F6574D }
	button.up i,
	button.down i { padding-left: 0; }
	button i { padding-left: 10px; }

	fieldset { border: 2px solid #ddd; border-radius: 4px; clear: both; text-align: center; margin: 4em 0 2em; }
	fieldset h2 { border: none; text-align: center; }
	legend { text-align: left; font-size: large; }
	legend i { margin: 0 5px; }
	fieldset .form { margin-bottom: 2em; }
	fieldset .form div { display:inline-block; zoom:1; *display:inline; vertical-align: middle; border-left: 1px solid #ddd; padding: 0 1em; text-align: left; }
	fieldset .form div:first-of-type { border-left: none; }
	fieldset input[type="number"] { width: auto; }
	button,
	input { -webkit-transition: all .2s ease-in; -moz-transition: all .2s ease-in; -ms-transition: all .2s ease-in; -o-transition: all .2s ease-in; transition: all .2s ease-in; }

	.voters ul { text-align: left; list-style: none; max-width: 500px; margin: 0 auto 3em; padding: 0; border-top: 1px solid #ccc }
	.voters li { margin-bottom: 0.5em; padding: 0.5em 0; border-bottom: 1px solid #ccc; clear: both; }
	.voters li:after { content: ""; display: table; clear: both;  }
	.voters .votescast { float: right; }
	.remove { height: 16px; width: 16px; text-align: center; padding: 0; line-height: 1; background: #f04124; border: none; }

	.nominees,
	.nominees li { width: 100%; margin: 0; padding: 1em 0; clear: both; display: block; list-style: none; position: relative; }

	.nominees.results li:first-child { border: 2px solid #368a54; }
	.nominees.results li:first-child .title { font-size: large; }

	.nominees li { padding: 1em; border-radius: 3px; background: #f4f4f5; margin: 1em 0; }
	.nominees div,
	.nominees strong,
	.nominees .uservotes p  { display:inline-block; zoom:1; *display:inline; vertical-align: top; }
	.nominees .title { padding-right: 145px; font-weight: 700; }
	.nominees .info { position: absolute; right: 5px; top: 50%; margin-top: -18px; }
	.nominees .actions { margin: 0 1em; }
	.nominees .votes { line-height: 40px; font-size: larger; padding-right: 5px; }
	.nominees .uservotes { display: block; padding: 5px 145px 0 0;  }
	.nominees .uservotes p { font-size: 16px; background: #ccc; color: #fff; margin: 0 5px 0 0; border-radius: 100%; height: 24px; width: 24px; line-height: 24px; text-align: center;  }
	.nominees .uservotes p.down { background: #368a54; }
	.nominees .uservotes p.up { background: #cf280e ; }


 	#login-buttons { padding: 1em 0; }
 	.votesremaing {
 		font-family: 'Open Sans', sans-serif;
 		font-size: 14px;
 		text-align: right;
 		border-bottom: 0; }
 	.votesremaing strong {
 		font-size: larger;
 		background-color: #6fd5d9;
 		border-radius: 30px;
 		color: #ffffff;
 		padding: 6px 10px;
 	}

 	.users { text-align: left; }
 	.users li { list-style: none; }
 	.users li { display:inline-block; zoom:1; *display:inline; margin-right: 10px; }
 	.users li:not(:last-child):after { content: ","; }

 	.hide { display: none !important; }
 	.center  { text-align: center; }


	.add-form {
		text-align: center;
	}

	.idea-input {
		width: 500px !important;
	}

	.name {
		width: 100%;
		max-width: 700px;
	}

	.description {
		width: 100%;
		max-width: 700px;
	}

	.left-margin {
		margin-left: 8px;
	}

	.centered {
		text-align: center;
	}
@media only screen and (max-width: 420px) {

	fieldset  .form  div { border-left: none; }

	#login-buttons,
 	.votesremaing { float: none; display: block; text-align: center; }

	.idea-input {
		width: 100% !important;
		margin-bottom: 10px;
	}
}

.banner-image {
	display: block;
	background: url("images/moko_monster.svg") no-repeat center center;
	width: 220px;
	height: 220px;
	margin: 10% auto 0 auto;
}

.idea-board {
	margin-top: 80px;
	padding-top: 40px;
	border-top: 1px dotted #c4ced1;
}

.idea-board-heading,
.votesremaing {
	display: inline-block;
	width: 49%;
}

/* Bootstrap Overrides */

/* Navigation Bar */

.navbar-default {
	background-color: #285e7f;
	border: 0;
}

.navbar-default .navbar-brand {
	font-family: 'Raleway', serif; text-align: center;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	color: #70cf32;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #8fe246;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #193f59;
	color: #5ab9e1;
}

.navbar-default .navbar-nav > li > a {
	color: #f4f4f5;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
   color: #5ab9e1;
   background-color: #193f59;
}

.navbar-default .navbar-toggle .icon-bar {
   color: #ffffff;
   background-color: #193f59;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #ffffff;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
   background-color: #193f59;
}

.navbar-nav > li {
	font-family: 'Raleway', serif; text-align: center;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
}

.btn {
	font-family: 'Raleway', serif; text-align: center;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;

	border-radius: 3px;
}

.btn-default {
	color: #2d3033;
	background-color: #ffffff;
	border-color: #70cf32;
}

.btn-default:hover {
	color: #2d3033;
	background-color: #f4f4f5;
	border-color: #70cf32;
}

.btn-primary {
  color: #ffffff;
  background-color: #70cf32;
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary .focus {
	background-color: #2fb628;
	border: 0;
	outline: 0;
}

.btn-lg, .btn-group-lg > .btn {
	padding: 12px;
}

.btn-Google:hover,
.btn-Google:focus,
.btn-Google.focus {
	color: #ffffff;
	background-color: #bf3b2a;
	outline: 0;
}

/* Font Styles */

h1,
h2 {
	font-weight: 300;
}

/* Other buttons */

.btn-submit {
	background-color: #70cf32;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	padding: 12px 30px;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: capitalize;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit .focus {
	background-color: #2fb628;
	border: 1px solid transparent;
	outline: 0;
	color: #ffffff;
